
    body {
        
        background: #8EBC8B;
        font-family: "Lucida Grande", Verdana, sans-serif;
        font-size: 12px;
        color: #666;
        line-height: 20px;
        -webkit-text-size-adjust: none;
    }

.container{ padding-right: 0px;  padding-left: 0px;  }

  .well {
 	 padding: 5px;
 	}
  .fecha{
	  	padding-right: 5px;
	  	list-style: none;
	    display: inline-block;
  }


a.dp-choose-date {
  float: left;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 5px 3px 0;
  display: block;
  text-indent: -2000px;
  overflow: hidden;
  background: url(../img/calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
  background-position: 0 -20px;
  cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
  width: 140px;
  float: left;
}
  