				    <div class="row">
					  <div class="col-md-4 col-xs-4 col-sm-4">
					  <a href="#administraciondeusuarios"  id="panelusuarios">
					  		<center><img src="img/user.png" alt="Administracion de Usuarios" class="img-rounded img-responsive" width="150" height="150">
					  		<b> Administración de Usuarios</b></center>
					  </a>
					  </div>
					  <div class="col-md-4 col-xs-4 col-sm-4">					  
					  		  <a href="#administraciondeequiposypiezas"  id="panelequipos">
							  		<center><img src="img/piezasyequipos.png" alt="Administracion de Equipos y Piezas" class="img-rounded" width="230" height="150"><br>
							  		<b>Administración de Equipos y Piezas</b></center>
							  </a>
					  </div>
					  <div class="col-md-4 col-xs-4 col-sm-4">					  
					  		 <a href="#reportes"  id="panelreportes">
							  		<center><img src="img/reporte2.png" alt="Reportes" class="img-rounded img-responsive" width="150" height="150">
							  		<b>Reportes</b></center>
							  </a>
					  </div>			  
					</div>
					<br><br>
					<hr>
					<div class="row">
					  <div class="col-md-4 col-xs-4 col-sm-4">					  
					  	 	<a href="#Configuraciondelsistema"  id="panelconfiguraciondelsistema">
							  		<center><img src="img/configuracion.png" alt="Configuración del Sistema" class="img-rounded img-responsive" width="150" height="150">
							  		<b>Configuracion del Sistema</b></center>
							  </a>
					  </div>
					  <div class="col-md-4 col-xs-4 col-sm-4">					  
								<a href="#ayuda"  id="panelayuda">
							  		<center><img src="img/ayuda.png" alt="ayuda" class="img-rounded img-responsive" width="150" height="150">
							  		<b>Ayuda</b></center>
							  </a>
					  </div>
					  <div class="col-md-4 col-xs-4 col-sm-4">					  
								<a href="#salir"  id="panelsalir">
							  		<center><img src="img/cerrar.png" alt="Salir" class="img-rounded img-responsive" width="120" height="120">
							  		<br><b>Salir </b></center>
							  </a>
					  </div>			  
					</div>

	 <script src="js/eventos2.js"></script>
	<script type="text/javascript"> eventos();</script> 