
<script type="text/javascript" src="js/formValidation.js"></script>
<script type="text/javascript" src="js/framework/bootstrap.js"></script>
<script src="js/chosen.jquery.js"></script>
<script src="js/ImageSelect.jquery.js"></script>
 <script type="text/javascript">
    $(document).ready(function() {

     


      $('#Bbuscar').on('click',  function(){
          if(tbuscar.value!=""){
            if($('#ttipo').val()==1){
                  $.ajax
                    ({
                      type: "POST",
                      url: "modelo/consultasEquiposyPiezas.php",
                      data: {id:6, data:tbuscar.value},
                      async: false,  
                      dataType: "json",  
                      success:
                      function (msg) 
                      { 
                          console.log(msg[0].m)
                         if(msg[0].m==1){
                             labelbusqueda.innerHTML='';
                            $('#Equipo').fadeIn();
                            CargarMarcas(msg[0].idmarca, msg[0].idmodelo);  
                            cargarEspecificaciones(msg[0].idespecificacion);
                            cargarEstados(msg[0].idestado);
                            cargarlistadoPersonal(msg[0].idasignadopor,msg[0].idresponsablenuevo );
                            cargarlistadoAreas(msg[0].idarea);
                            cargarlistadoProveedor(msg[0].idproveedor);
                            cargarListaTipo(msg[0].idtipo);
                            cargarlistadoPiezas();

                           
                            
                             tcodigoexterno.value=msg[0].codigoexterno;
                             tfactura.value=msg[0].numerofactura;
                             $('#tfechadeC').val(msg[0].fechacompra); 
                             $('#tfechadeA').val(msg[0].fechaasignacion);

                            
                             tcodigoInterno.value=msg[0].idequipo

                              obtenerImagenMarca(msg[0].idmarca,1);
                              obtenerImagenModelo(msg[0].idmodelo, 1);
                              $('#sPiezas').val(msg[0]['piezas']);
                              buscarPiezasTabla(msg[0]['piezas']);
                              $('#sPiezas').multiselect({
                                      enableFiltering: true,
                                        filterPlaceholder: 'Buscar',

                                    onChange: function(option, checked) {
                                        var selectedOptions = $('#sPiezas option:selected');      
                                        if (selectedOptions.length >=50) {                
                                            var nonSelectedOptions = $('#sPiezas option').filter(function() {
                                                return !$(this).is(':selected');
                                            });
                             
                                            var dropdown = $('#sPiezas').siblings('.multiselect-container');
                                            nonSelectedOptions.each(function() {
                                                var input = $('input[value="' + $(this).val() + '"]');
                                                input.prop('disabled', true);
                                                input.parent('li').addClass('disabled');
                                            });
                                        }
                                        else {
                                            var dropdown = $('#sPiezas').siblings('.multiselect-container');
                                            $('#sPiezas option').each(function() {
                                                var input = $('input[value="' + $(this).val() + '"]');
                                                input.prop('disabled', false);
                                                input.parent('li').addClass('disabled');
                                            });
                                        }
                                    }
                                     
                                });
                              $('#sPiezas').multiselect("refresh");

                            /*

                            cargarlistadoPiezas();

                             
                             $('#testado').val(msg[0].idestado);  
                             
                            
                             $('#sPiezas').val(0);*/
                         }
                         if(msg[0].m==0){
                            $('#Equipo').fadeOut();
                            labelbusqueda.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡Equipo no encontrado!</center></div>';
                         }
                                      
                             
                      },
                      error:
                      function (msg) {console.log( msg +" No se pudo realizar la conexion");}
                    });
              
            }
            else{

                    
               }
          }

      });







































 $('#ttipo').change(function () {
    
        if($('#ttipo').val()==1){
          $('#Equipo').fadeIn();
          $('#Pieza').fadeOut();

        }
        else{
          $('#Equipo').fadeOut();
          $('#Pieza').fadeIn();


        }

    });


  $('#sPiezas').change(function () { 
    if(!$('#sPiezas').val()==false){
      buscarPiezasTabla($('#sPiezas').val());
    }
  });



function buscarPiezasTabla(piezas){
   $.ajax
          ({
            type: "POST",
            url: "modelo/consultasEquiposyPiezas.php",
            data: {id:3, ids:piezas},
            async: true,  
            dataType: "json",  
            success:
            function (msg) 
            { 
                
                $('#cuerpotabla').html("");              
                var row3="";
                console.log("agregando pieza a tabla: "+msg[0].m+" :  " +piezas);
                for (var i = 0; i <msg[0].m; i++) {
                    console.log(i);
                    var row3=$('<tr id="'+msg[i].idpieza+'"></tr>');
                 
                    var fila0=$('<td></td>').text(i);
                  /*  var fila1 = $('<td></td>').text(msg[i].cantidad);*/
                    var fila2 = $('<td></td>').text(msg[i].parte);
                    var fila3 = $('<td></td>').text(msg[i].estado);
                    var fila4 = $('<td></td>').text(msg[i].codigoexterno);
                    var fila5 = $('<td></td>').text(msg[i].especificacion);
                    var fila6 = $('<td></td>').text(msg[i].nombremarca);
                    var fila7 = $('<td></td>').text(msg[i].nombremodelo);

                     row3.append(fila0);
                   /* row3.append(fila1);*/
                    row3.append(fila2);
                    row3.append(fila3);
                    row3.append(fila4);
                    row3.append(fila5);
                    row3.append(fila6);
                    row3.append(fila7);

                  $('#cuerpotabla').append(row3); 
                }            
                   
            },
            error:
            function (msg) {console.log( msg +" No se pudo realizar la conexion");}
          });
}

  function cargarlistadoPiezas(){
      $.ajax
          ({
            type: "POST",
            url: "modelo/consultasEquiposyPiezas.php",
            data: {id:8},
            async: true,  
            dataType: "json",  
            success:
            function (msg) 
            { 
               console.log("Numero de piezas: " +msg[0].m);
                for (var i =0 ; i<msg[0].m; i++) {  
                   $('#sPiezas').append('<option value="'+msg[i].idpieza+'" >'+msg[i].parte+'</option>');
              }
                 
      
            },
            error:
            function (msg) {console.log( msg +" No se pudo realizar la conexion");}
          });
    }
     function obtenerImagenMarca(marca, ban){
               $.ajax
            ({
              type: "POST",
              url: "modelo/consultasconfiguraciondelsistema.php",
              data: {id:18, idmarca:marca },
              async: true,  
              dataType: "json",  
              success:
              function (msg) 
                {                  
                    if(ban==1){
                      $('#coverMarca').innerHTML="";
                       var path="modelo/uploads/marca/"+msg[0].idmarca+"/"+msg[0].imagen;
                       coverMarca.innerHTML='<img src="'+path+ '"  width="150" height="150" />'; 
                       $("#cargaMarca").css("display", "none");

                    } 
                    if(ban==2){
                      $('#coverMarca2').innerHTML="";
                       var path="modelo/uploads/marca/"+msg[0].idmarca+"/"+msg[0].imagen;
                       coverMarca2.innerHTML='<img src="'+path+ '"  width="150" height="150" />'; 
                       $("#cargaMarca2").css("display", "none");
                    }

                    
                         
                },
              error:
              function (msg) {console.log( msg +" No se pudo realizar la conexion");}
            });
    }

    function obtenerImagenModelo(modelo, ban){
               $.ajax
            ({
              type: "POST",
              url: "modelo/consultasconfiguraciondelsistema.php",
              data: {id:21, idmodelo:modelo },
              async: true,  
              dataType: "json",  
              success:
              function (msg) 
                {             
                    if(ban==1){
                      $('#coverModelo').innerHTML="";
                       var path="modelo/uploads/modelo/"+msg[0].idmodelo+"/"+msg[0].imagen;
                       coverModelo.innerHTML='<img src="'+path+ '"  width="150" height="150" />'; 
                       $("#cargaModelo").css("display", "none");

                    } 
                    if(ban==2){
                      $('#coverModelo2').innerHTML="";
                       var path="modelo/uploads/modelo/"+msg[0].idmodelo+"/"+msg[0].imagen;
                       coverModelo2.innerHTML='<img src="'+path+ '"  width="150" height="150" />'; 
                       $("#cargaModelo2").css("display", "none");
                    }     

                    
                         
                },
              error:
              function (msg) {console.log( msg +" No se pudo realizar la conexion");}
            });
    }

    function CargarMarcas(marca, modelo){
        $.ajax
            ({
              type: "POST",
              url: "modelo/consultasconfiguraciondelsistema.php",
              data: {id:17},
              async: true,  
              dataType: "json",  
              success:
              function (msg) 
                {                   

                    for (var i =0 ; i<msg[0].m; i++) {                       
                       var path="modelo/uploads/marca/"+msg[i].idmarca+"/"+msg[i].imagen;
                        /*$('#ma').append('<option data-img-src="'+path+'" value="'+msg[i].idmarca2+'" >'+msg[i].nombre+'</option>');
                        $('#ma2').append('<option data-img-src="'+path+'" value="'+msg[i].idmarca2+'" >'+msg[i].nombre+'</option>');*/
                        $('#ma').append('<option  value="'+msg[i].idmarca2+'" >'+msg[i].nombre+'</option>');

                        
                  }   
                   $('#ma').val(marca);
                    cargarModelos(modelo);   
                         
                },
              error:
              function (msg) {console.log( msg +" No se pudo realizar la conexion");}
            });
    }
  function cargarListaTipo(t){
    $.ajax
          ({
            type: "POST",
            url: "modelo/consultasconfiguraciondelsistema.php",
            data: {id:42},
           /* async: true,  */
            dataType: "json",  
            success:
            function (msg) 
            { 
                
                for (var i =0 ; i<msg[0].m; i++) {        
                     
                      $('#tnombreEquipo').append('<option  value="'+msg[i].idE+'" >'+msg[i].motivo+'</option>');


                }
               $('#tnombreEquipo').val(t);

            },
            error:
            function (msg) {console.log( msg +" No se pudo realizar la conexion");}
          });
  }
    function cargarModelos(modelo){
        $.ajax
            ({
              type: "POST",
              url: "modelo/consultasconfiguraciondelsistema.php",
              data: {id:21},
              async: true,  
              dataType: "json",  
              success:
              function (msg) 
                { 
                    for (var i =0 ; i<msg[0].m; i++) {                       
                     //   var path="modelo/uploads/modelo/"+msg[i].idmodelo+"/"+msg[i].imagen;

                       /* $('#mo').append('<option data-img-src="'+path+'" value="'+msg[i].idmodelo2+'" >'+msg[i].nombre+'</option>');
                        $('#mo2').append('<option data-img-src="'+path+'" value="'+msg[i].idmodelo2+'" >'+msg[i].nombre+'</option>');*/
                      $('#mo').append('<option  value="'+msg[i].idmodelo2+'" >'+msg[i].nombre+'</option>');


                    }       

                    $('#mo').val(modelo);         
                       /* $(".my-select").chosen({
                            width:"100%",
                          });*/
                         $( "#ma" ).change(function (e) {
                             e.preventDefault();
                             $("#cargaMarca").css("display", "block");
                             marca=$('#ma').val();
                             obtenerImagenMarca(marca, 1);
                             console.log("click en marca: "+marca);

                         });
                         $( "#mo" ).change(function (e) {        
                            /* console.log($('#mo').val());*/
                            e.preventDefault();
                             $("#cargaModelo").css("display", "block");
                             modelo=$('#mo').val();
                             obtenerImagenModelo(modelo, 1);
                         });  
                        

                    
                },
              error:
              function (msg) {console.log( msg +" No se pudo realizar la conexion");}
            });
    }
    function cargarEspecificaciones(e){
        $.ajax
            ({
              type: "POST",
              url: "modelo/consultasconfiguraciondelsistema.php",
              data: {id:27},
              async: true,  
              dataType: "json",  
              success:
              function (msg) 
                { 
                     for (var i =0 ; i<msg[0].m; i++) {  
                         $('#tespecificacion').append('<option value="'+msg[i].idE+'" >'+msg[i].especificacion+'</option>');
                    }
                    $('#tespecificacion').val(e); 

                },
              error:
              function (msg) {console.log( msg +" No se pudo realizar la conexion");}
            });
    }
        function cargarEstados(estado){
        $.ajax
            ({
              type: "POST",
              url: "modelo/consultasconfiguraciondelsistema.php",
              data: {id:32},
              async: true,  
              dataType: "json",  
              success:
              function (msg) 
                { 
                    for (var i =0 ; i<msg[0].m; i++) {  
                         $('#testado').append('<option value="'+msg[i].idE+'" >'+msg[i].estado+'</option>');

                    }  
                   $('#testado').val(estado);  

                },
              error:
              function (msg) {console.log( msg +" No se pudo realizar la conexion");}
            });
    }

    function cargarlistadoPersonal(a,b){
        $.ajax
            ({
              type: "POST",
              url: "modelo/consultasconfiguraciondelsistema.php",
              data: {id:2},
              async: true,  
              dataType: "json",  
              success:
              function (msg) 
                { 
                    for (var i =0 ; i<msg[0].m; i++) {  
                         $('#tasignadopor').append('<option value="'+msg[i].idpersonal+'" >'+msg[i].nombre+'   ' +msg[i].apellido+'</option>');
                          $('#tnuevoresp').append('<option value="'+msg[i].idpersonal+'" >'+msg[i].nombre+'   ' +msg[i].apellido+'</option>');
                    }      
                    $('#tasignadopor').val(a);
                     $('#tnuevoresp').val(b);


                },
              error:
              function (msg) {console.log( msg +" No se pudo realizar la conexion");}
            });

    }
    function cargarlistadoAreas(a){
      $.ajax
          ({
            type: "POST",
            url: "modelo/consultasconfiguraciondelsistema.php",
            data: {id:12},
            async: true,  
            dataType: "json",  
            success:
            function (msg) 
            { 
              for (var i =0 ; i<msg[0].m; i++) {  
                   $('#tArea').append('<option value="'+msg[i].idareas+'" >'+msg[i].nombre+'</option>');

              }
             $('#tArea').val(a);

      
            },
            error:
            function (msg) {console.log( msg +" No se pudo realizar la conexion");}
          });
    }
    function cargarlistadoProveedor(p){
      $.ajax
          ({
            type: "POST",
            url: "modelo/consultasconfiguraciondelsistema.php",
            data: {id:7},
            async: true,  
            dataType: "json",  
            success:
            function (msg) 
            { 
                for (var i =0 ; i<msg[0].m; i++) {  
                   $('#tproveedor').append('<option value="'+msg[i].idproveedor+'" >'+msg[i].nombre+'</option>');

              }
                             $('#tproveedor').val(p); 

      
            },
            error:
            function (msg) {console.log( msg +" No se pudo realizar la conexion");}
          });
    }


    function cargarlistadoPiezas(){
      $.ajax
          ({
            type: "POST",
            url: "modelo/consultasEquiposyPiezas.php",
            data: {id:8},
            async: false,  
            dataType: "json",  
            success:
            function (msg) 
            { 
               console.log("tamano de piezas: "+msg[0].m);
                for (var i =0 ; i<msg[0].m; i++) {  
                   $('#sPiezas').append('<option value="'+msg[i].idpieza+'" >'+msg[i].parte+'</option>');
              }
                 $('#sPiezas').multiselect({
                        enableFiltering: true,
                          filterPlaceholder: 'Buscar',

                      onChange: function(option, checked) {
                          var selectedOptions = $('#sPiezas option:selected');      
                          if (selectedOptions.length >=50) {                
                              var nonSelectedOptions = $('#sPiezas option').filter(function() {
                                  return !$(this).is(':selected');
                              });
               
                              var dropdown = $('#sPiezas').siblings('.multiselect-container');
                              nonSelectedOptions.each(function() {
                                  var input = $('input[value="' + $(this).val() + '"]');
                                  input.prop('disabled', true);
                                  input.parent('li').addClass('disabled');
                              });
                          }
                          else {
                              var dropdown = $('#sPiezas').siblings('.multiselect-container');
                              $('#sPiezas option').each(function() {
                                  var input = $('input[value="' + $(this).val() + '"]');
                                  input.prop('disabled', false);
                                  input.parent('li').addClass('disabled');
                              });
                          }
                      }
                       
                  });
      
            },
            error:
            function (msg) {console.log( msg +" No se pudo realizar la conexion");}
          });
    }


    });

 </script>