<div class="row">
        <div class="col-xs-12">
             <ol class="breadcrumb">
                <li id="menuprincipal"><a href="#">Menu Principal</a>
                </li>
                <li class="active">Ayuda</li>
            </ol>
        </div>

</div>
 <label class="col-sm-4 control-label">Manual de Ayuda</label>
<center>        
        <iframe src="partials/administrador/Ayuda/ManualdeUsuario.pdf" style="width:700px; height:475px;" frameborder="1"></iframe>
</center>

</div>
<script type="text/javascript" src="js/bootstrapValidator.js"></script>
<script src="js/bootstrapValidator.min.js"></script>
 <script type="text/javascript">
 	$('#menuprincipal').on('click',  function(){
        window.open('index.php' , '_self');
		/*$("#contenedor").hide().load('partials/menu/menuadministrador.html', function(){			
		}).fadeIn(1500);*/
	});
</script>