<div class="row">
        <div class="col-xs-12">
             <ol class="breadcrumb">
                <li id="menuprincipal"><a href="#">Menu Principal</a>
                </li>
                <li class="active">Reportes</li>
            </ol>
        </div>
</div>


<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active" id="home2"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Usuarios</a></li>
    <li role="presentation" id="profile2"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Configuracion del Sistema</a></li>
    <li role="presentation" id="messages2"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Equipos</a></li>
  </ul>

  <!-- Tab panes -->
      <div id="espera" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;"><img src='img/demo_wait.gif' width="64" height="64" /><br>Cargando</div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
         

    </div>

    <div role="tabpanel" class="tab-pane" id="profile">


    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
    </div>
   <!--  <div role="tabpanel" class="tab-pane" id="settings">dddddddddddddd</div> -->
  </div>

</div>




 <script type="text/javascript">
 	$('#menuprincipal').on('click',  function(){

        window.open('index.php' , '_self');
        
	});
    $("#home").hide().load('partials/administrador/reporteusuario.php', function(){          
        }).fadeIn(1500);


    $('#home2 ').on('click',  function(e){
        e.preventDefault();
         $("#espera").css("display", "block");
         $("#home").hide().load('partials/administrador/reporteusuario.php', function(){ 
            $("#espera").css("display", "none");

        }).fadeIn(1500);
    
    });
    $('#profile2').on('click',  function(e){
         e.preventDefault();
         $("#espera").css("display", "block");
         $("#home").hide().load('partials/administrador/reportesistema.php', function(){   
            $("#espera").css("display", "none");

        }).fadeIn(1500);
    
    });
    $('#messages2').on('click',  function(e){
         e.preventDefault();
         $("#espera").css("display", "block");
         $("#home").hide().load('partials/administrador/reporteequipo.php', function(){   
            $("#espera").css("display", "none");

        }).fadeIn(1500);
    
    });



</script>