
					<section class="well">
							<div id="alertasarea"> 
					      			<div class="alert alert-info">
					      					<center>
					      							<h6><b>Registrar Area</b></h6>			      		
					      					</center>
					      			</div>
					      	</div>

					 <form id="formregistrararea"  method="post" class="form-signin form-horizontal"  onsubmit="return false;">  
				    				<div class="row">
										<div class="col-md-6 col-xs-6 col-sm-6">	
				    						 <div class="form-group">
													<label class="col-sm-5 control-label">Nombre</label>
										          <div class="col-sm-7">
										              <input  id="tnombre" type="text" class="form-control input-sm" name="nombre">  
										          </div>
									          </div>
									          <div class="form-group">
													<label class="col-sm-5 control-label">Descripcion</label>
										          <div class="col-sm-7">
										              <input  id="tdescripcion" type="text" class="form-control input-sm" name="descripcion">  
										          </div>
									          </div>
									            <div class="form-group">
													<label class="col-sm-5 control-label">Codigo Interno</label>
										          <div class="col-sm-7">
										              <input  id="tcodigo" type="text" class="form-control input-sm" name="codigo">  
										          </div>
									          </div>
									          
				          				</div>
										<div class="col-md-6 col-xs-6 col-sm-6">
				          				</div>
		          				</div>
		          				<hr>
					          		<center>
								         <div class="row">
								         		
						         			<div class="col-md-6 col-xs-6 col-sm-6">
								                 		
											</div>
								         	<div class="col-md-2 col-xs-2 col-sm-2">
								                 		
											</div>	
<!-- 										         	<div class="col-md-2 col-xs-2 col-sm-2">
							                  <button type="button" class="btn btn-default" id="limpiarProveedor"><span class="glyphicon glyphicon-trash"></span>Limpiar</button>					
											</div> -->
								         	<div class="col-md-2 col-xs-2 col-sm-2">									
								                  <button type="submit" class="btn btn-primary btn-sm" id="guardarArea" disabled="true"><span class="glyphicon glyphicon-floppy-disk" ></span>Registrar</button>				
											</div>
										
										</div>        	
								    </center>
		          	</form>
		 </section>

		 <hr>
		<section class="well">
			<div id="alertas"> 
			</div>
			<div> 
		      			<div class="alert alert-info">
		      					<center>
		      							<h6><b>Administrar Areas</b></h6>			      		
		      					</center>
		      			</div>
		      	</div>
		      	<hr>
		      	<div id="listadoareas"></div>
		</section>




<!--Modal Editar areas -->
		<div class="modal fade" id="modaleditarAreas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel"><b>Editar Area</b></h4>
		      </div>
		      <div class="modal-body">				 
		      	<form id="formmodificararea"  method="post" class="form-signin form-horizontal"  onsubmit="return false;">  
				    				<div class="row">
										<div class="col-md-6 col-xs-6 col-sm-6">	
				    						 <div class="form-group">
													<label class="col-sm-5 control-label">Nombre</label>
										          <div class="col-sm-7">
										              <input  id="tnombre2" type="text" class="form-control input-sm" name="nombre2">  
										          </div>
									          </div>
									          <div class="form-group">
													<label class="col-sm-5 control-label">Descripcion</label>
										          <div class="col-sm-7">
										              <input  id="tdescripcion2" type="text" class="form-control input-sm" name="descripcion2">  
										          </div>
									          </div>
									            <div class="form-group">
													<label class="col-sm-5 control-label">Codigo Interno</label>
										          <div class="col-sm-7">
										              <input  id="tcodigo2" type="text" class="form-control input-sm" name="codigo2">  
										          </div>
									          </div>
									          
				          				</div>
										<div class="col-md-6 col-xs-6 col-sm-6">
				
				          				</div>
		          				</div>		          				
			          <div class="modal-footer" id="footermodificararea">			     
				      </div>     			
		          	</form>
		      </div>
		    </div>
		  </div>
		</div>
<!--Modal Editar areas -->

<!--Modal Eliminar Proveedor -->
<div class="modal fade" id="modaleliminarArea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><b>Confirmación</b></h4>
      </div>
      <div class="modal-body">
        <center><b>¿Esta Seguro que desea eliminar esta Area?</b></center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="confirmarEliminarArea">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!--Modal Eliminar Proveedor -->


<script type="text/javascript" src="js/formValidation.js"></script>
<script type="text/javascript" src="js/framework/bootstrap.js"></script>

<!-- <script src="js/bootstrapValidator.min.js"></script> -->
 <script type="text/javascript">
 $(document).ready(function() {
 	eventosArea();
 	$('#formregistrararea').formValidation({
			        framework: 'bootstrap',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			        		nombre:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
								 }
						    },
						    descripcion:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
								 }
						    },
						    codigo:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
								 }
						    }
			            }
			        
			    })
		        .on('success.field.fv', function(e, data) {		
		        	 if (!data.fv.isValid()) {    // There is invalid field
		           			 data.fv.disableSubmitButtons(true);     
			              
			            }
		        });

    	$('#formmodificararea').formValidation({
			        framework: 'bootstrap',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			        		nombre2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
								 }
						    },
						    descripcion2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
								 }
						    },
						    codigo2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
								 }
						    }
			            }
			        
			    })
		        .on('success.field.fv', function(e, data) {		
		        	 if (!data.fv.isValid()) {    // There is invalid field
		           			 data.fv.disableSubmitButtons(true);     
			              
			            }
		        });

     function RegistrarArea(){
     	$('#guardarArea').on('click',  function(){
    		$.ajax
	        ({
	          type: "POST",
	          url: "modelo/consultasconfiguraciondelsistema.php",
	          data: {id:11, nombre:tnombre.value, descripcion:tdescripcion.value, codigo:tcodigo.value},
	          async: false,  
	          dataType: "json",  
	          success:
	          function (msg) 
		        { 
		        	if(msg=="true"){
						alertas.innerHTML="";
		        		
		       		cargarlistadoAreas();
		        	tnombre.value="";
		        	tdescripcion.value="";
					tcodigo.value="";
		        
		        	$('.form-group').removeClass('has-success');
					$('.form-group').removeClass('has-error');
					$('.form-group').removeClass('has-error has-feedback');
					$('.form-group').find('small.help-block').hide();
					$('.form-group').find('i.form-control-feedback').hide();
					//editarProveedor();
					editarAreas();
					eliminarArea();
					alertas.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡Se ha creado Correctamente!</center></div>';
				}
					if(msg!="true"){
						alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡No se pudo ingresar porque ya existe!</center></div>';

	             	}

		        	 
		        },
	          error:
	          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
	        });
    	});
     }
        function eliminarArea(){
    	$('a.eliminarArea').on('click',  function(){
				var idArea=$(this).attr('name');
    			$('#confirmarEliminarArea').on('click',  function(){
				console.log("idArea: "+idArea);
    				$.ajax
				        ({
				          type: "POST",
				          url: "modelo/consultasconfiguraciondelsistema.php",
				          data: {id:14, idArea:idArea},
				          async: false,  
				          dataType: "json",  
				          success:
				          function (msg) 
					        { 
					        	if(msg=="true")
					        	{
					        		$('#modaleliminarArea').modal('hide');
					        		var x = document.getElementById(idArea);
					        		$(x).fadeOut();
					        	}
								   
					        },
				          error:
				          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
					        	
				        });

    			});

    	});
    }
     function obtenerAreas(idAreas){
      	$.ajax
        ({
          type: "POST",
          url: "modelo/consultasconfiguraciondelsistema.php",
          data: {id:13, idAreas:idAreas},
          async: true,  
          dataType: "json",  
          success:
          function (msg) 
	        { 
	        		
		        	tnombre2.value=msg[0].nombre; 
		        	tdescripcion2.value=msg[0].descripcion;
					tcodigo2.value=msg[0].codigo;
					$("#footermodificararea").html("");
					$("#footermodificararea").append('<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><button type="submit" class="actualizarAreas  btn btn-susscess"  name="'+msg[0].idAreas+'"><span class="glyphicon glyphicon-refresh" ></span>Actualizar</button>');
				   
	        },
          error:
          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
	        	
        });
      }
        function editarAreas(){
      	$('.editarArea').on('click',   function(event) {
      		var idAreas=$(this).attr('name');
      		obtenerAreas(idAreas);
      		$('#modaleditarAreas').modal('show');

      		$('.actualizarAreas').on('click',  function(){
    				var idAreas=$(this).attr('name');
    				console.log("editar Areas: "+idAreas);
    				$.ajax
				        ({
				          type: "POST",
				          url: "modelo/consultasconfiguraciondelsistema.php",
				          data: {id:15, nombre:tnombre2.value, descripcion:tdescripcion2.value, codigo:tcodigo2.value,idAreas:idAreas},
				          async: false,  
				          dataType: "json",  
				          success:
				          function (msg) 
					        { 
					        	console.log(msg);
					        	cargarlistadoAreas();
	


					        	tnombre2.value="";
					        	tdescripcion2.value="";
					        	tcodigo2.value="";

					        	$('.form-group').removeClass('has-success');
								$('.form-group').removeClass('has-error');
								$('.form-group').removeClass('has-error has-feedback');
								$('.form-group').find('small.help-block').hide();
								$('.form-group').find('i.form-control-feedback').hide();
								
								 $('#modaleditarAreas').modal('hide');
					        	 
					        },
				          error:
				          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
				        });
    		});
      	});

      }
      function cargarlistadoAreas(){
    	$.ajax
	        ({
	          type: "POST",
	          url: "modelo/consultasconfiguraciondelsistema.php",
	          data: {id:12},
	          async: true,  
	          dataType: "json",  
	          success:
	          function (msg) 
		        { 
		        	console.log(msg[0].m);
					$('#listadoareas').html("");                        
					var table = $('<table style="width:100%;" class="table" ></table>');                         
					var row=$('<thead></thead>').append("<tr></tr>");
					$('#listadoareas').append(listarareas(msg, table, row));   

					editarAreas();
					 eliminarArea();
			
		        },
	          error:
	          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
	        });
    }
     	function listarareas(msg, table, row){
    		    row.append($('<th></th>').html(""));
                row.append($('<th></th>').html("<b>Nombre</b>"));                            
                row.append($('<th></th>').html("<b>Descripcion</b>"));
                row.append($('<th></th>').html("<b>Codigo</b>"));
                
                table.append(row);  
                var row2 = $('<tbody></tbody>');
                for(i=0; i<msg[0].m; i++){
                   
                var row3=$('<tr id="'+msg[i].idareas+'"></tr>');
                var fila0=$('<td></td>').text(i);
                var fila1 = $('<td></td>').text(msg[i].nombre);
                var fila2 = $('<td></td>').text(msg[i].descripcion);
                var fila3 = $('<td></td>').text(msg[i].codigo);
                var fila5 = $('<td></td>').append('<a  class="editarArea btn"   title="Editar/Modificar" name="'+msg[i].idareas+'"> <span class="glyphicon glyphicon-pencil"></span></a>');
					/*fila5.append('<a class="eliminarArea btn btn-danger btn-sm" data-toggle="modal" type="button"  data-target="#modaleliminarArea"  title="Eliminar" name="'+msg[i].idareas+'"> <span class="glyphicon glyphicon-remove"></span></a>');*/

                row3.append(fila0);
                row3.append(fila1);
                row3.append(fila2);
                row3.append(fila3);
                row3.append(fila5);
                row2.append(row3);             
                }
                table.append(row2);
                return table;
    	}
     function eventosArea(){
     	RegistrarArea();
     	cargarlistadoAreas();
     	editarAreas();
     	eliminarArea();
     }
		});
</script>