<br>
<div class="alert alert-info">
      					<center>
      							<h6><b>Registrar Estado</b></h6>			      		
      					</center>
      			</div>
<br><br>
<form id="formregistrar"  method="post" class="form-signin form-horizontal"  onsubmit="return false;">
	 <div class="form-group">
			<label class="col-sm-2 control-label">Estado</label>
	      <div class="col-sm-5">
	          <input  id="tEspecificaciones" type="text" class="form-control input-sm" name="Especificaciones">  
	      </div>
	      <div class="col-sm-5">

	    <button type="submit" class="btn btn-primary btn-sm" id="guardar" disabled="true"><span class="glyphicon glyphicon-floppy-disk" ></span>Registrar</button>
	      </div>
	  </div>


</form>

<br>
<hr>
<section class="well">
	<div id="alertas"> 
	</div>
	<div>
      			<div class="alert alert-info">
      					<center>
      							<h6><b>Administrar Estado</b></h6>			      		
      					</center>
      			</div>
      	</div>
      	<hr>
      	<div id="listado"></div>
</section>


<!--Modal Editar Proveedor -->
		<div class="modal fade" id="modaleditareliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel"><b>Editar Estado</b></h4>
		      </div>
		      <div class="modal-body">

          		<form id="formmodificar"  method="post" class="form-signin form-horizontal"  onsubmit="return false;">
					 <div class="form-group">
							<label class="col-sm-5 control-label"> Estado</label>
					      <div class="col-sm-7">
					          <input  id="tEspecificaciones2" type="text" class="form-control input-sm" name="Especificaciones2">  
					      </div>
					  </div>
					<div class="modal-footer" id="footer">
				       
			       </div>
      			</form>
		      </div>
		    </div>
		  </div>
		</div>
<!--Modal Editar Proveedor -->


<script type="text/javascript" src="js/formValidation.js"></script>
<script type="text/javascript" src="js/framework/bootstrap.js"></script>

<!-- <script src="js/bootstrapValidator.min.js"></script> -->
 <script type="text/javascript">
 $(document).ready(function() {
 	eventos();
 	$('#formregistrar').formValidation({
			        framework: 'bootstrap',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			        		Especificaciones:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }/*,
		                          regexp: {
				                        regexp: /^[a-z\s]+$/i,
				                        message: 'Solo se permiten letras de a-z, A-Z'
				                    }*/
								 }
						    }
			        }
			    })
		        .on('success.field.fv', function(e, data) {		
		        	 if (!data.fv.isValid()) {    // There is invalid field
		           			 data.fv.disableSubmitButtons(true);     
			              
			            }
		        });

     	$('#formmodificar').formValidation({
			        framework: 'bootstrap',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			        		Especificaciones2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }/*,
		                          regexp: {
				                        regexp: /^[a-z\s]+$/i,
				                        message: 'Solo se permiten letras de a-z, A-Z'
				                    }*/
								 }
						    }
			        }
			    })
		        .on('success.field.fv', function(e, data) {		
		        	 if (!data.fv.isValid()) {    // There is invalid field
		           			 data.fv.disableSubmitButtons(true);     
			              
			            }
		        });

	function eventos(){
		registrar();
		cargarLista();
		
	}
	function registrar(){
		$('#guardar').on('click',  function(){
    		$.ajax
	        ({
	          type: "POST",
	          url: "modelo/consultasconfiguraciondelsistema.php",
	          data: {id:31, E:tEspecificaciones.value},
	          async: false,  
	          dataType: "json",  
	          success:
	          function (msg) 
		        { 
		        	console.log(msg+ tEspecificaciones.value);
		        	if(msg=="true"){
						cargarLista();

		        		tEspecificaciones.value="";
		        		$('.form-group').removeClass('has-success');
						$('.form-group').removeClass('has-error');
						$('.form-group').removeClass('has-error has-feedback');
						$('.form-group').find('small.help-block').hide();
						$('.form-group').find('i.form-control-feedback').hide();
						editarEliminar();

		        		alertas.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡Se ha creado Correctamente!</center></div>';

		        	}
		        	 if(msg!="true"){
					alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡No se pudo ingresar porque ya existe!</center></div>';

	             }
		        	 
		        },
	          error:
	          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        	
	        });
    	});
	}
	function cargarLista(){
		$.ajax
	        ({
	          type: "POST",
	          url: "modelo/consultasconfiguraciondelsistema.php",
	          data: {id:32},
	          async: true,  
	          dataType: "json",  
	          success:
	          function (msg) 
		        { 
		        	console.log(msg[0].m);
					$('#listado').html("");                        
					var table = $('<table style="width:100%;" class="table" ></table>');                         
					var row=$('<thead></thead>').append("<tr></tr>")
					$('#listado').append(listarE(msg, table, row));   
					editarEliminar();
		        },
	          error:
	          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
	        });
	}
	function editarEliminar(){
		$('.editar').on('click',  function(){
      		var idE=$(this).attr('name');
			obtener(idE);
			$('#modaleditareliminar').modal('show');
			$('.actualizar').on('click',  function(){
				console.log("click en actualizar");
				$.ajax
		        ({
		          type: "POST",
		          url: "modelo/consultasconfiguraciondelsistema.php",
		          data: {id:34, idE:idE, E:tEspecificaciones2.value},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	console.log("salida: "+msg + " Especifiacion: "+idE+" vAlor: "+tEspecificaciones2.value);
			        	if(msg=="true"){
							$('#modaleditareliminar').modal('hide');
							cargarLista();
							editarEliminar();

			        	}   
				
			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
			});
			$('.Eliminar').on('click',  function(){
				$.ajax
			        ({
			          type: "POST",
			          url: "modelo/consultasconfiguraciondelsistema.php",
			          data: {id:35, idE:idE},
			          async: false,  
			          dataType: "json",  
			          success:
			          function (msg) 
				        { 
				        	console.log("salida eliminar: "+msg);
				        	if(msg=="true"){
				        		$('#modaleditareliminar').modal('hide');
								cargarLista();
								editarEliminar();
				        	}
					
				        },
			          error:
			          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
			        });
			});

		});
	}
	function obtener(id){
		$.ajax
	        ({
	          type: "POST",
	          url: "modelo/consultasconfiguraciondelsistema.php",
	          data: {id:33, idE:id},
	          async: false,  
	          dataType: "json",  
	          success:
	          function (msg) 
		        { 
		        	tEspecificaciones2.value=msg[0].estado;   
					$("#footer").html("");
					$("#footer").append(' <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><button type="button" class="Eliminar btn btn-danger"  name="'+msg[0].idE+'" style="display:none;"><span class="glyphicon glyphicon-trash" ></span>Eliminar</button><button type="submit" class="actualizar btn btn-susscess"  name="'+msg[0].idE+'"><span class="glyphicon glyphicon-refresh" ></span>Actualizar</button>');
		        },
	          error:
	          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
	        });
	}
        
    function listarE(msg, table, row){
    		    row.append($('<th></th>').html(""));
                row.append($('<th></th>').html("<b>Estado</b>"));                            
                row.append($('<th></th>').html("<b>Opciones</b>"));

                
                table.append(row);  
                var row2 = $('<tbody></tbody>');
               /* resultadonumero.innerHTML="Mostrando <span class='badge'>"+msg[0].m+"</span> Resultados";
	}
*/
                for(i=0; i<msg[0].m; i++){
                   
                        var row3=$('<tr id="'+msg[i].idE+'"></tr>');
                        var fila0=$('<td></td>').text(i);
                        var fila1 = $('<td></td>').text(msg[i].estado);
                        var fila5 = $('<td></td>').append('<a  class="editar btn btn-warning btn-sm"   title="Editar/Modificar" name="'+msg[i].idE+'"> <span class="glyphicon glyphicon-pencil"></span></a>');
                        row3.append(fila0);
                        row3.append(fila1);
                        row3.append(fila5);
                        row2.append(row3);             
                }
                table.append(row2);
                return table;
    	}    









    });
</script>

