
<br>
		 <form id="formregistrararea"  method="post" class="form-signin form-horizontal"  onsubmit="return false;">  
				
				 <div class="form-group">
						<label class="col-sm-3 control-label">Nombre</label>
			          <div class="col-sm-8">
			              <input  id="tnombre" type="text" class="form-control input-sm" name="nombre">  
			          </div>
		          </div>
				<div class="form-group">
				        <label class="col-sm-3 control-label">Cover Imagen</label>
				        <div class="col-sm-8">
				            <input type="file" id="file" class="form-control input-sm" name="file">
					            <div class="row">
					            	<div class="col-md-3 col-xs-3 col-sm-3">
					            		<div id="preview" name="preview"></div>
					            	</div>
					            	<div class="col-md-9 col-xs-9 col-sm-9" id="alertaimagen">
					            	</div>
					            </div>

				        </div>
				    </div>
				   <hr>
	          		<center>

						<div id="alertasmodeloimagen"> 
							</div>
				         <div class="row">
				         		

				         	<div class="col-md-2 col-xs-2 col-sm-2">									
				                  <button type="submit" class="btn btn-primary btn-sm" id="subirimagen" disabled="true"><span class="glyphicon glyphicon-floppy-disk" ></span>Registrar</button>				
							</div>
						
						</div>        	
				    </center>
		   </form>

		   <hr>
		   <section id="imagenes"  >
		  <!--  	<img src="modelo/uploads/marca/c4ca4238a0b923820dcc509a6f75849b/Coverc4ca4238a0b923820dcc509a6f75849b.png">
		   	<img src="modelo/uploads/marca/c4ca4238a0b923820dcc509a6f75849b/Coverc4ca4238a0b923820dcc509a6f75849b.png">
		   	<img src="modelo/uploads/marca/c4ca4238a0b923820dcc509a6f75849b/Coverc4ca4238a0b923820dcc509a6f75849b.png">
		   	<img src="modelo/uploads/marca/c4ca4238a0b923820dcc509a6f75849b/Coverc4ca4238a0b923820dcc509a6f75849b.png">
		   	<img src="modelo/uploads/marca/c4ca4238a0b923820dcc509a6f75849b/Coverc4ca4238a0b923820dcc509a6f75849b.png">
		   	<img src="modelo/uploads/marca/c4ca4238a0b923820dcc509a6f75849b/Coverc4ca4238a0b923820dcc509a6f75849b.png">
 -->
		   </section>

		   <br><br>

		   <!--Modal Eliminar Proveedor -->
<div class="modal fade" id="modalMarca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><b>Editar / Eliminar Tipo</b></h4>
      </div>
      <div class="modal-body">
       		<form id="formModificarEliminar"  method="post" class="form-signin form-horizontal"  onsubmit="return false;">  
				
				 <div class="form-group">
						<label class="col-sm-3 control-label">Nombre</label>
			          <div class="col-sm-8">
			              <input  id="tnombre2" type="text" class="form-control input-sm" name="nombre2">  
			          </div>
		          </div>
		          <div class="form-group">
				        <label class="col-sm-3 control-label">Imagen</label>
				        <div class="col-sm-8" id="imagenobtenido">
				            

				        </div>
				    </div>
				 <div class="form-group">
				        <label class="col-sm-3 control-label">Cover Imagen</label>
				        <div class="col-sm-8">
				            <input type="file" id="file2" class="form-control input-sm" name="file2">
					            <div class="row">
					            	
					            	<div class="col-md-9 col-xs-9 col-sm-9" id="alertaimagen2">
					            	</div>
					            </div>

				        </div>
				    </div>
						<div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			        <button type="button" class="btn btn-danger" id="Eliminar" style="display:none;"><span class="glyphicon glyphicon-trash" ></span>Eliminar</button>	
			        <button type="submit" class="btn btn-susscess" id="actualizar"><span class="glyphicon glyphicon-refresh" ></span>Actualizar</button>
			      </div>
		   </form>
      </div>
      
    </div>
  </div>
</div>
<!--Modal Eliminar Proveedor -->

  <script type="text/javascript" src="js/bootstrapValidator.js"></script>
  <script src="js/bootstrapValidator.min.js"></script>

<script type="text/javascript"> 
$(document).ready(function() {

	var upload_input = document.querySelectorAll('#file')[0];
	var upload_input2 = document.querySelectorAll('#file2')[0];
	var disponible=false;
	upload_input.onchange = function(){
		/*console.log(this.files[0]);*/
		$('#preview').html("");
		VisualizarImagen(upload_input.files[0], preview);
	};
	upload_input2.onchange = function(){
		/*console.log(this.files[0]);*/
		$('#imagenobtenido').html("");
		VisualizarImagen2(upload_input2.files[0], imagenobtenido);
	};



	 AgregarMarca();
	 cargarimagenes();
	modificarEliminarImagen();

	 
			$('#formregistrararea').formValidation({
			        framework: 'bootstrap',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			        		nombre:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
								 }
						    },
						    file:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
						    }
						}
			        }
			    })
		        .on('success.field.fv', function(e, data) {		
		        	 if (!data.fv.isValid()) {    // There is invalid field
		           			 data.fv.disableSubmitButtons(true);     
			              
			            }
		        });

    $('#formModificarEliminar').formValidation({
			        framework: 'bootstrap',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			        		nombre2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
		                          regexp: {
				                        regexp: /^[a-z\s]+$/i,
				                        message: 'Solo se permiten letras de a-z, A-Z'
				                    }
								 }
						    },
						    file2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
						    }
						}
			        }
			    })
		        .on('success.field.fv', function(e, data) {		
		        	 if (!data.fv.isValid()) {    // There is invalid field
		           			 data.fv.disableSubmitButtons(true);     
			              
			            }
    });
	function VisualizarImagen(file, div) {

			    var reader = new FileReader();
			    var image  = new Image();

			    reader.readAsDataURL(file);  
			    reader.onload = function(_file) {
			        image.src    = _file.target.result;              // url.createObjectURL(file);
			        image.onload = function() {
			            var w = this.width,
			                h = this.height,
			                t = file.type,                           // ext only: // file.type.split('/')[1],
			                n = file.name,
			                s = ~~(file.size/1024) +'KB';
			            div.innerHTML='<img  class="img-thumbnail" width="'+(w)+'" height="'+(h)+'" src="'+ this.src +'">'+n+'<br>';
			            console.log("tamano w: "+w+" h: "+h);
			            if(w>=50&&w<800&&h>=50&&h<800){
			            	disponible=true;
			            	alertaimagen.innerHTML="";
			            }
			            else{
			            	alertaimagen.innerHTML='<div class="alert alert-danger" role="alert"><a href="#" class="alert-link">¡La imagen debe ser minimo de 50x50px  y maximo 800x800px px!</a></div>'; 
			            	 
			            	disponible=false;
			           	 $('#subirimagen').attr('disabled', true);

			            }
			        };
			        image.onerror= function() {
			            alertaimagen.innerHTML='<div class="alert alert-danger" role="alert"><a href="#" class="alert-link">¡El archivo seleccionado no es una imagen de formato valido, elija otra por favor!</a></div>'; 
			           	 $('#subirimagen').attr('disabled', true);

			        };      
			    };

			}

			function VisualizarImagen2(file, div) {

			    var reader = new FileReader();
			    var image  = new Image();

			    reader.readAsDataURL(file);  
			    reader.onload = function(_file) {
			        image.src    = _file.target.result;              // url.createObjectURL(file);
			        image.onload = function() {
			            var w = this.width,
			                h = this.height,
			                t = file.type,                           // ext only: // file.type.split('/')[1],
			                n = file.name,
			                s = ~~(file.size/1024) +'KB';
			            div.innerHTML='<img  class="img-thumbnail" width="'+(w)+'" height="'+(h)+'" src="'+ this.src +'">'+n+'<br>';
			            console.log("tamano w: "+w+" h: "+h);
			            if(w>=50&&w<800&&h>=50&&h<800){
			            	//disponible=true;
			            	alertaimagen2.innerHTML="";
			            }
			            else{
			            	alertaimagen2.innerHTML='<div class="alert alert-danger" role="alert"><a href="#" class="alert-link">¡La imagen debe ser minimo de 50x50px  y maximo 800x800px px!</a></div>'; 
			            	//disponible=false;
			           	// $('#subirimagen').attr('disabled', true);

			            }
			        };
			        image.onerror= function() {
			            alertaimagen2.innerHTML='<div class="alert alert-danger" role="alert"><a href="#" class="alert-link">¡El archivo seleccionado no es una imagen de formato valido, elija otra por favor!</a></div>'; 
			           	// $('#subirimagen').attr('disabled', true);

			        };      
			    };

			}

   function AgregarMarca(){
    	$('#subirimagen').on('click',  function(){
    		console.log("disponibilidad: "+disponible);
    		if(disponible==true){

			$.ajax
		        ({
		          type: "POST",
		          url: "modelo/consultasconfiguraciondelsistema.php",
		          data: {id:20, nombre:tnombre.value},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	console.log(msg);
			        	if(msg=="true")
			        	{

			        		xhr = new XMLHttpRequest();

								xhr.upload.addEventListener('load',function(e){
									cargarimagenes();
									modificarEliminarImagen();
			        	alertasmodeloimagen.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡Se ha creado Correctamente!</center></div>';

								}, false);

								xhr.upload.addEventListener('error',function(e){
									alert('Ha habido un error :/');
								}, false);

								xhr.open('POST','modelo/subirmodelo.php');

					            xhr.setRequestHeader("Cache-Control", "no-cache");
					            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
					            xhr.setRequestHeader("X-File-Name", upload_input.files[0].name);

					            xhr.send(upload_input.files[0]);
					            tnombre.value="";
			        			file.value="";
			        			alertaimagen.innerHTML="";
			        			preview.innerHTML="";
			        			$('.form-group').removeClass('has-success');
								$('.form-group').removeClass('has-error');
								$('.form-group').removeClass('has-error has-feedback');
								$('.form-group').find('small.help-block').hide();
								$('.form-group').find('i.form-control-feedback').hide();
								

				        	}
				        	 if(msg!="true"){
							alertasmodeloimagen.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡No se pudo ingresar porque ya existe!</center></div>';

			             }
						   
			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
			        	
		        });
    		}


		});

    }

    function cargarimagenes(){
		$.ajax
	        ({
	          type: "POST",
	          url: "modelo/consultasconfiguraciondelsistema.php",
	          data: {id:21},
	          async: true,  
	          dataType: "json",  
	          success:
	          function (msg) 
		        { 
                	
                	console.log(msg[0].m);
					$('#imagenes').html("");                        
					var table = $('<table style="width:100%;" class="table" ></table>');                         
					var row=$('<thead></thead>').append("<tr></tr>")
					$('#imagenes').append(listarareas(msg, table, row));  	
					modificarEliminarImagen();
		        	 
		        },
	          error:
	          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
	        });
    }


     	function listarareas(msg, table, row){
    		    row.append($('<th></th>').html(""));
                row.append($('<th></th>').html("<b>Imagen</b>"));                            
                row.append($('<th></th>').html("<b>Nombre</b>"));
                row.append($('<th></th>').html("<b>Opciones</b>"));
                
                table.append(row);  
                var row2 = $('<tbody></tbody>');
                for(i=0; i<msg[0].m; i++){
		                var path="modelo/uploads/modelo/"+msg[i].idmodelo+"/"+msg[i].imagen;

		                   
		                var row3=$('<tr id="'+msg[i].idmodelo2+'"></tr>');
		                var fila0=$('<td></td>').text(i);
		                var fila1 = $('<td></td>').text(msg[i].nombre);
		                var fila2 = $('<td></td>').html('<img src="'+path+'" width=40 height=40>');
		                var fila5 = $('<td></td>').append('<a  class="editarMarca btn"   title="Editar/Modificar" name="'+msg[i].idmodelo2+'"> <span class="glyphicon glyphicon-pencil"></span></a>');
							

		                row3.append(fila0);
		                row3.append(fila1);
		                row3.append(fila2);
		                row3.append(fila5);
		                row2.append(row3);             
                }
                table.append(row2);
                return table;
    	}
    function modificarEliminarImagen(){
    	 	$('.editarMarca').on('click',   function(event) {
    	 		var idimagen=$(this).attr('name');
    	 		$('#modalMarca').modal('show');
    	 		console.log("idmarca: "+idimagen);
    	 		obtenerImagenEspecifica(idimagen);
    	 		$('#Eliminar').on('click',   function(event) {
    	 				$.ajax
						        ({
						          type: "POST",
						          url: "modelo/consultasconfiguraciondelsistema.php",
						          data: {id:24,  idmodelo:idimagen},
						          async: false,  
						          dataType: "json",  
						          success:
						          function (msg) 
							        { 
							        	console.log(msg);
							        	if(msg=="true")
							        	{
											cargarimagenes();
											modificarEliminarImagen();
											$('#modalMarca').modal('hide');
							        	}
										   
							        },
						          error:
						          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
							        	
						        });
    	 		});
    	 		$('#actualizar').on('click',   function(event) {
							$.ajax
						        ({
						          type: "POST",
						          url: "modelo/consultasconfiguraciondelsistema.php",
						          data: {id:23, nombre:tnombre2.value, idmodelo:idimagen},
						          async: false,  
						          dataType: "json",  
						          success:
						          function (msg) 
							        { 
							        	console.log(msg);
							        	if(msg=="true")
							        	{

							        		xhr = new XMLHttpRequest();

												xhr.upload.addEventListener('load',function(e){
													cargarimagenes();
													modificarEliminarImagen();
	    	 										$('#modalMarca').modal('hide');
												}, false);

												xhr.upload.addEventListener('error',function(e){
												}, false);

												xhr.open('POST','modelo/modificarmodelo.php');

									            xhr.setRequestHeader("Cache-Control", "no-cache");
									            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
									            xhr.setRequestHeader("X-File-Name", upload_input2.files[0].name);

									            xhr.send(upload_input2.files[0]);
									            tnombre2.value="";
							        			file2.value="";
							        			alertaimagen2.innerHTML="";
							        			imagenobtenido.innerHTML="";
							        			$('.form-group').removeClass('has-success');
												$('.form-group').removeClass('has-error');
												$('.form-group').removeClass('has-error has-feedback');
												$('.form-group').find('small.help-block').hide();
												$('.form-group').find('i.form-control-feedback').hide();
												

							        	}
										   
							        },
						          error:
						          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
							        	
						        });

    	 		});
    	 	});

    }

    function obtenerImagenEspecifica(idmodelo){
    	$.ajax
	        ({
	          type: "POST",
	          url: "modelo/consultasconfiguraciondelsistema.php",
	          data: {id:22, idmodelo:idmodelo},
	          async: false,  
	          dataType: "json",  
	          success:
	          function (msg) 
		        { 
		        	 var path="modelo/uploads/modelo/"+msg[0].idmodelo+"/"+msg[0].imagen;
                	tnombre2.value=msg[0].nombre;
                	imagenobtenido.innerHTML='<img src="'+path+'" width=100 height=100>';
    		       	
		        	 
		        },
	          error:
	          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
	        });
    }
});

</script>