
    		<section class="well">
    				<div id="alertaspersonal"> 
			      			<div class="alert alert-info">
			      					<center>
			      							<h6><b>Registrar Personal</b></h6>			      		
			      					</center>
			      			</div>
			      	</div>
			      	<hr>

    				<form id="formregistrarpersonal"  method="post" class="form-signin form-horizontal"  onsubmit="return false;">  
		    				<div class="row">
								<div class="col-md-6 col-xs-6 col-sm-6">	
		    						 <div class="form-group">
											<label class="col-sm-5 control-label">Nombres</label>
								          <div class="col-sm-7">
								              <input  id="tnombre" type="text" class="form-control input-sm" name="nombre">  
								          </div>
							          </div>
							          <div class="form-group">
											<label class="col-sm-5 control-label">Apellidos</label>
								          <div class="col-sm-7">
								              <input  id="tapellido" type="text" class="form-control input-sm" name="apellido">  
								          </div>
							          </div>
							          
		          				</div>
								<div class="col-md-6 col-xs-6 col-sm-6">	
								
									  <div class="form-group">
											<label class="col-sm-5 control-label">Identificación</label>
								          <div class="col-sm-7">
								              <input  id="tidentificacion" type="text" class="form-control input-sm" name="identificacion">  
								          </div>
							          </div>
							          <div class="form-group">
											<label class="col-sm-5 control-label">Cargo:</label>
								          <div class="col-sm-7">
							               <select  class="form-control input-sm"  name="cargo"  id="tcargo"  >
							               		<option value="0"disabled selected> --Seleccione una opcion -- </option>
							               		<!-- <option value="1">Cargo 1</option>
							               		<option value="2">Cargo 2</option>
							               		<option value="3">Cargo 3</option> -->

							               </select>
								          </div>
							          </div>
			          			</div>
			          		</div>
			          		<hr>
			          		<center>
								         <div class="row">
								         		
						         			<div class="col-md-6 col-xs-6 col-sm-6">
								                 		
											</div>
								         	<div class="col-md-2 col-xs-2 col-sm-2">
								                 		
											</div>	
								         	<!-- <div class="col-md-2 col-xs-2 col-sm-2">
							                  <button type="button" class="btn btn-default" id="limpiarPersonal"><span class="glyphicon glyphicon-trash"></span>Limpiar</button>					
											</div> -->
								         	<div class="col-md-2 col-xs-2 col-sm-2">									
								                  <button type="submit" class="btn btn-primary btn-sm" id="guardar"  disabled="disabled"><span class="glyphicon glyphicon-floppy-disk" ></span>Registrar</button>				
											</div>
										
										</div>        	
								    </center>
		      			</form>

    		</section>

    		<hr>
    		<section class="well">
    			
<div id="alertas"> 
	</div>
	<div> 
			      			<div class="alert alert-info">
			      					<center>
			      							<h6><b>Administrar Personal</b></h6>			      		
			      					</center>
			      			</div>
			      	</div>
			      	<hr>
			      	<div id="listado"></div>
    		</section>

<!--Modal Editar Personal -->
		<div class="modal fade" id="modaleditarPersonal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel"><b>Editar Personal</b></h4>
		      </div>
		      <div class="modal-body">
		        
				<form id="formreditarpersonal" method="post" class="form-signin form-horizontal"  onsubmit="return false;">  
    				<div class="row">
						<div class="col-md-6 col-xs-6 col-sm-6">	
    						 <div class="form-group">
									<label class="col-sm-5 control-label">Nombres</label>
						          <div class="col-sm-7">
						              <input  id="tnombre2" type="text" class="form-control input-sm" name="nombre2">  
						          </div>
					          </div>
					          <div class="form-group">
									<label class="col-sm-5 control-label">Apellidos</label>
						          <div class="col-sm-7">
						              <input  id="tapellido2" type="text" class="form-control input-sm" name="apellido2">  
						          </div>
					          </div>
					          
          				</div>
						<div class="col-md-6 col-xs-6 col-sm-6">	
						
							  <div class="form-group">
									<label class="col-sm-5 control-label">Identificación</label>
						          <div class="col-sm-7">
						              <input  id="tidentificacion2" type="text" class="form-control input-sm" name="identificacion2">  
						          </div>
					          </div>
					          <div class="form-group">
									<label class="col-sm-3 control-label">Cargo:</label>
						          <div class="col-sm-9">
					               <select  class="form-control input-sm"  name="cargo2"  id="tcargo2"  >
					               		<option value="0"disabled selected> --Seleccione una opcion -- </option>
					               		<!-- <option value="1">Cargo 1</option>
					               		<option value="2">Cargo 2</option>
					               		<option value="3">Cargo 3</option> -->

					               </select>
						          </div>
					          </div>
	          			</div>
	          		</div>
			      <div class="modal-footer" id="footermodificarPersonal">
			       <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			        <button type="submit" class="btn btn-primary" id="confirmarEditarPersonal">Modificar</button> -->
			      </div>
	          		
      			</form>
		      </div>
		    </div>
		  </div>
		</div>
<!--Modal Editar Personal -->

<!--Modal Eliminar Personal -->
<div class="modal fade" id="modaleliminarPersonal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><b>Confirmación</b></h4>
      </div>
      <div class="modal-body">
        <center><b>¿Esta Seguro que desea eliminar a este usuario?</b></center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="confirmarEliminarPersonal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!--Modal Eliminar Personal -->


<script type="text/javascript" src="js/formValidation.js"></script>
<script type="text/javascript" src="js/framework/bootstrap.js"></script>

<!-- <script src="js/bootstrapValidator.min.js"></script> -->
 <script type="text/javascript">
 $(document).ready(function() {
 	eventosPersonal();
 	$('#formregistrarpersonal').formValidation({
			        framework: 'bootstrap',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			        		nombre:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
								 }
						    },
						    apellido:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
		                          regexp: {
				                        regexp: /^[a-z\s]+$/i,
				                        message: 'Solo se permiten letras de a-z, A-Z'
				                    }
								 }
						    },
						    

						    identificacion:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
							        digits: {
							              message: 'Por favor introduce sólo dígitos'
							        }
								}
						    },
			            cargo: {
			                validators: {
			                	notEmpty: {
			                            message: 'Se requiere este campo'
			                     }
			                }
			            }
			        }
			    })
		        .on('success.field.fv', function(e, data) {		
		        	 if (!data.fv.isValid()) {    // There is invalid field
		           			 data.fv.disableSubmitButtons(true);     
			              
			            }
		        });

		$('#formreditarpersonal').on('init.field.fv', function(e, data) {
            // data.fv      --> The FormValidation instance
            // data.field   --> The field name
            // data.element --> The field element

            var $parent = data.element.parents('.form-group'),
                $icon   = $parent.find('.form-control-feedback[data-fv-icon-for="' + data.field + '"]');

            // You can retrieve the icon element by
            // $icon = data.element.data('fv.icon');

            $icon.on('click.clearing', function() {
                // Check if the field is valid or not via the icon class
                if ($icon.hasClass('glyphicon-remove')) {
                    // Clear the field
                    data.fv.resetField(data.element);
                }
            });
        }).formValidation({
			        framework: 'bootstrap',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			        		nombre2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
		                          regexp: {
				                        regexp: /^[a-z\s]+$/i,
				                        message: 'Solo se permiten letras de a-z, A-Z'
				                    }
								 }
						    },
						    apellido2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
		                          regexp: {
				                        regexp: /^[a-z\s]+$/i,
				                        message: 'Solo se permiten letras de a-z, A-Z'
				                    }
								 }
						    },
						    identificacion2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
		                          regexp: {
				                        regexp: /^[a-z\s]+$/i,
				                        message: 'Solo se permiten letras de a-z, A-Z'
				                    }
								 }
						    },
			            cargo2: {
			                validators: {
			                	notEmpty: {
			                            message: 'Se requiere este campo'
			                     }
			                }
			            }
			        }
			    }).on('err.field.fv', function(e, data) {
			          data.fv.disableSubmitButtons(true);		       
			     })
		        .on('success.field.fv', function(e, data) {		         
		           /*data.fv.disableSubmitButtons(false);	*/
				            e.preventDefault();
		            var $form     = $(e.target),
		                validator = $form.data('formValidation');
		            // Show the modal
		       
		            
		            $form
		                .formValidation('disableSubmitButtons', false)  // Enable the submit buttons
		                .formValidation('resetForm', true);             // Reset the form

		        });
	function CargarCargo(){
        $.ajax
            ({
              type: "POST",
              url: "modelo/consultasconfiguraciondelsistema.php",
              data: {id:52},
              async: true,  
              dataType: "json",  
              success:
              function (msg) 
                {                   

                    $('#tcargo').empty();
                    $('#tcargo').append('<option value="0" disabled selected> --Seleccione una opcion -- </option>');
                     $('#tcargo2').empty();
                    $('#tcargo2').append('<option value="0" disabled selected> --Seleccione una opcion -- </option>');

                    for (var i =0 ; i<msg[0].m; i++) {                       
                        $('#tcargo').append('<option  value="'+msg[i].idE+'" >'+msg[i].motivo+'</option>');
                        $('#tcargo2').append('<option  value="'+msg[i].idE+'" >'+msg[i].motivo+'</option>');

                        
                  }   
                   // cargarModelos();   
                         
                },
              error:
              function (msg) {console.log( msg +" No se pudo realizar la conexion");}
            });
    }
   function eventosPersonal(){
   		RegistrarPersonal();
   		cargarlistadoPersonal();
   		CargarCargo();
   		
   }
       function RegistrarPersonal(){
    	$('#guardar').on('click',  function(){
    		$.ajax
	        ({
	          type: "POST",
	          url: "modelo/consultasconfiguraciondelsistema.php",
	          data: {id:1, nombre:tnombre.value, apellido:tapellido.value, identificacion:tidentificacion.value, cargo:tcargo.value},
	          async: false,  
	          dataType: "json",  
	          success:
	          function (msg) 
		        { 
		        	
		        	//$('#formregistrarpersonal').data('formValidation').resetForm();
	        	if(msg=="true"){
		        	cargarlistadoPersonal();
		        	tnombre.value="";
		        	tapellido.value="";
		        	tidentificacion.value="";
		        	$('#tcargo').val(0);

					$('.form-group').removeClass('has-success');
					$('.form-group').removeClass('has-error');
					$('.form-group').removeClass('has-error has-feedback');
					$('.form-group').find('small.help-block').hide();
					$('.form-group').find('i.form-control-feedback').hide();

					alertas.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡Se ha creado Correctamente!</center></div>';

		        	}
		        	 if(msg!="true"){
					alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡No se pudo ingresar porque ya existe!</center></div>';

	             }

		        },
	          error:
	          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
	        });
    	});
    }
   function eliminarPersonal(){
    	$('a.eliminarPersonal').on('click',  function(){
				var idPersonal=$(this).attr('name');
				console.log("idPersonal: "+idPersonal);
    			$('#confirmarEliminarPersonal').on('click',  function(){
    				$.ajax
				        ({
				          type: "POST",
				          url: "modelo/consultasconfiguraciondelsistema.php",
				          data: {id:3, idPersonal:idPersonal},
				          async: false,  
				          dataType: "json",  
				          success:
				          function (msg) 
					        { 
					        	if(msg=="true")
					        	{
					        		$('#modaleliminarPersonal').modal('hide');
					        		//cargarlistadoPersonal();
					        		var x = document.getElementById(idPersonal);
					        		//document.getElementById("id")
					        		$(x).fadeOut();
					        		/*document.getElementById(idPersonal)*/
					        	}
								   
					        },
				          error:
				          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
					        	
				        });

    			});

    	});
    }
        function cargarlistadoPersonal(){
    	$.ajax
	        ({
	          type: "POST",
	          url: "modelo/consultasconfiguraciondelsistema.php",
	          data: {id:2},
	          async: true,  
	          dataType: "json",  
	          success:
	          function (msg) 
		        { 
		        	//console.log(msg[0].m);
					$('#listado').html("");                        
					var table = $('<table style="width:100%;" class="table" id="tablaListapersonal"></table>');                         
					var row=$('<thead></thead>').append("<tr></tr>")
					$('#listado').append(listarPersonal(msg, table, row));  
			        eliminarPersonal();
					editarPersonal(); 
					
		        },
	          error:
	          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
	        });

    }
   function obtenerPersonal(idPersonal){
   		console.log("obteniendo personal 1 "+ idPersonal);
    	$.ajax
        ({
          type: "POST",
          url: "modelo/consultasconfiguraciondelsistema.php",
          data: {id:5, idPersonal:idPersonal},
          async: false,  
          dataType: "json",  
          success:
          function (msg) 
	        { 
	        	console.log("obteniendo personal adentro ");
	        	tnombre2.value=msg[0].nombre;
				tapellido2.value=msg[0].apellido;
				tidentificacion2.value=msg[0].identificacion;
				$('#tcargo2').val(msg[0].cargo);
				$("#footermodificarPersonal").html("");
				$("#footermodificarPersonal").append('<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><button type="submit" class="actualizarPersonal btn btn-susscess"  name="'+msg[0].idpersonal+'"><span class="glyphicon glyphicon-refresh" ></span>Actualizar</button>');
				   
	        },
          error:
          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
	        	
        });
        console.log("obteniendo personal 2 ");
    }
    function editarPersonal(){

    /*	$( "#tablaListapersonal tbody" ).on( "click", "tr", function() {
		  console.log( $( this ).text() );
		});*/

    	$('.editarPersonal').on('click',   function(event) {
  				event.preventDefault();
				var idPersonal=$(this).attr('name');
				obtenerPersonal(idPersonal);

				$('#modaleditarPersonal').modal('show');
    			$('.actualizarPersonal').on('click',  function(){
    				var idPersonal=$(this).attr('name');


    				$.ajax
				        ({
				          type: "POST",
				          url: "modelo/consultasconfiguraciondelsistema.php",
				          data: {id:4, idPersonal:idPersonal, nombre:tnombre2.value, apellido:tapellido2.value, identificacion:tidentificacion2.value, cargo:tcargo2.value},
				          async: false,  
				          dataType: "json",  
				          success:
				          function (msg) 
					        { 
								console.log("idPersonal actualizar personal: "+idPersonal);
								$('#modaleditarPersonal').modal('hide');
					        	
					        	if(msg=="true")
					        	{
					        		$('#modaleditarPersonal').modal('hide');
					        		$('#formreditarpersonal').data('formValidation').resetForm();
					        		cargarlistadoPersonal();
					        			/*$('.form-group').removeClass('has-success');
										$('.form-group').removeClass('has-error');
										$('.actualizarPersonal').attr('disabled', false);
										$(form).formValidation(options);
										$(form).data('formValidation').resetForm();*/
					        	}
								   
					        },
				          error:
				          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
					        	
				        });

    			});

    	});
    }
   function listarPersonal(msg, table, row){
    	               
                row.append($('<th></th>').html(""));
                row.append($('<th></th>').html("<b>Nombre</b>"));                            
                row.append($('<th></th>').html("<b>Apellido</b>"));
                row.append($('<th></th>').html("<b>Identificación</b>"));
                /*row.append($('<th></th>').html("<b>Cargo</b>"));*/
                row.append($('<th></th>').html("<b>Opciones</b>"));

                
                table.append(row);  
                var row2 = $('<tbody></tbody>');
               /* resultadonumero.innerHTML="Mostrando <span class='badge'>"+msg[0].m+"</span> Resultados";
*/
                for(i=0; i<msg[0].m; i++){
                   
                        var row3=$('<tr id="'+msg[i].idpersonal+'" ></tr>'); 
                        var fila0=$('<td></td>').text(i);
                        var fila1 = $('<td></td>').text(msg[i].nombre);
                        var fila2 = $('<td></td>').text(msg[i].apellido);
                        var fila3 = $('<td></td>').text(msg[i].identificacion);
                        /*var fila4 = $('<td></td>').text(msg[i].cargo);*/
                        var fila5 = $('<td></td>').append('<a  class="editarPersonal btn"  title="Editar/Modificar" name="'+msg[i].idpersonal+'"> <span class="glyphicon glyphicon-pencil"></span></a>');
	   /* fila5.append('<a class="eliminarPersonal btn btn-danger btn-sm" data-toggle="modal" type="button"  data-target="#modaleliminarPersonal"  title="Eliminar" name="'+msg[i].idpersonal+'"> <span class="glyphicon glyphicon-remove"></span></a>');*/

                        row3.append(fila0);
                        row3.append(fila1);
                        row3.append(fila2);
                        row3.append(fila3);
                       /* row3.append(fila4); */
                        row3.append(fila5);
                        row2.append(row3);             
                }
                table.append(row2);
                return table;
            
    }
});
 </script>