    	
					<section class="well">
							<div id="alertasProveedor"> 
					      			<div class="alert alert-info">
					      					<center>
					      							<h6><b>Registrar Proveedor</b></h6>			      		
					      					</center>
					      			</div>
					      	</div>
					      	<hr>

							<form id="formregistrarproveedor"  method="post" class="form-signin form-horizontal"  onsubmit="return false;">  
				    				<div class="row">
										<div class="col-md-6 col-xs-6 col-sm-6">	
				    						 <div class="form-group">
													<label class="col-sm-5 control-label">Nombres</label>
										          <div class="col-sm-7">
										              <input  id="tnombreP" type="text" class="form-control input-sm" name="nombreP">  
										          </div>
									          </div>
									          <div class="form-group">
													<label class="col-sm-5 control-label">Apellidos</label>
										          <div class="col-sm-7">
										              <input  id="trif" type="text" class="form-control input-sm" name="rif">  
										          </div>
									          </div>
									            <div class="form-group">
													<label class="col-sm-5 control-label">Telefono</label>
										          <div class="col-sm-7">
										              <input  id="ttelefono" type="text" class="form-control input-sm" name="telefono">  
										          </div>
									          </div>
									          
				          				</div>
										<div class="col-md-6 col-xs-6 col-sm-6">	
										
											  <div class="form-group">
													<label class="col-sm-5 control-label">Correo</label>
										          <div class="col-sm-7">
										              <input  id="tcorreo" type="text" class="form-control input-sm" name="emaildos">  
										          </div>
									          </div>
									          <div class="form-group">
													<label class="col-sm-5 control-label">CI/RIF</label>
										          <div class="col-sm-7">
										              <input  id="tCI" type="text" class="form-control input-sm" name="CI">  
										          </div>
									          </div>
									          <div class="form-group">
													<label class="col-sm-5 control-label">Direccion:</label>
										          <div class="col-sm-7">
					           							<textarea id="tdireccion"rows="3" cols="50" class="form-control input-sm" name="direccion"></textarea>
									               
										          </div>
									          </div>
					          			</div>
					          		</div>
					          		<hr>
					          		<center>
										         <div class="row">
										         		
								         			<div class="col-md-6 col-xs-6 col-sm-6">
										                 		
													</div>
										         	<div class="col-md-2 col-xs-2 col-sm-2">
										                 		
													</div>	
<!-- 										         	<div class="col-md-2 col-xs-2 col-sm-2">
									                  <button type="button" class="btn btn-default" id="limpiarProveedor"><span class="glyphicon glyphicon-trash"></span>Limpiar</button>					
													</div> -->
										         	<div class="col-md-2 col-xs-2 col-sm-2">									
										                  <button type="submit" class="btn btn-primary btn-sm" id="guardarproveedor" disabled="true"><span class="glyphicon glyphicon-floppy-disk" ></span>Registrar</button>				
													</div>
												
												</div>        	
										    </center>
				      			</form>

					</section>

					<hr>
					<section class="well">
						
<div id="alertasproveedor"> 
	</div>
	<div>					      			<div class="alert alert-info">
					      					<center>
					      							<h6><b>Administrar Proveedor</b></h6>			      		
					      					</center>
					      			</div>
					      	</div>
					      	<hr>
					      	<div id="listadoproveedor"></div>
					</section>




<!--Modal Editar Proveedor -->
		<div class="modal fade" id="modaleditarProveedor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel"><b>Editar Proveedor</b></h4>
		      </div>
		      <div class="modal-body">
		      		<form id="formmodificarproveedor" method="post" class="form-signin form-horizontal"  onsubmit="return false;">  
				    				<div class="row">
										<div class="col-md-5 col-xs-5 col-sm-5">	
				    						 <div class="form-group">
													<label class="col-sm-5 control-label">Nombres</label>
										          <div class="col-sm-7">
										              <input  id="tnombreP2" type="text" class="form-control input-sm" name="nombreP2">  
										          </div>
									          </div>
									          <div class="form-group">
													<label class="col-sm-5 control-label">Apellidos</label>
										          <div class="col-sm-7">
										              <input  id="trif2" type="text" class="form-control input-sm" name="rif2">  
										          </div>
									          </div>
									            <div class="form-group">
													<label class="col-sm-5 control-label">Telefono</label>
										          <div class="col-sm-7">
										              <input  id="ttelefono2" type="text" class="form-control input-sm" name="telefono2">  
										          </div>
									          </div>
									          
				          				</div>
										<div class="col-md-7 col-xs-7 col-sm-7">	
										
											  <div class="form-group">
													<label class="col-sm-5 control-label">Correo</label>
										          <div class="col-sm-7">
										              <input  id="tcorreo2" type="text" class="form-control input-sm" name="emaildos2">  
										          </div>
									          </div>
									          <div class="form-group">
													<label class="col-sm-5 control-label">CI/RIF</label>
										          <div class="col-sm-7">
										              <input  id="tCI2" type="text" class="form-control input-sm" name="CI2">  
										          </div>
									          </div>
									          <div class="form-group">
													<label class="col-sm-5 control-label">Direccion:</label>
										          <div class="col-sm-7">
					           							<textarea id="tdireccion2"rows="3" cols="50" class="form-control input-sm" name="direccion2"></textarea>
									               
										          </div>
									          </div>
					          			</div>
					          		</div>
					          		
		          <div class="modal-footer" id="footermodificarProveedor">
			     
			      </div>
	          		
      			</form>
		      </div>
		    </div>
		  </div>
		</div>
<!--Modal Editar Proveedor -->

<!--Modal Eliminar Proveedor -->
<div class="modal fade" id="modaleliminarProveedor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><b>Confirmación</b></h4>
      </div>
      <div class="modal-body">
        <center><b>¿Esta Seguro que desea eliminar a este Proveedor?</b></center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="confirmarEliminarProveedor">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!--Modal Eliminar Proveedor -->

<script type="text/javascript" src="js/formValidation.js"></script>
<script type="text/javascript" src="js/framework/bootstrap.js"></script>

<!-- <script src="js/bootstrapValidator.min.js"></script> -->
 <script type="text/javascript">
 $(document).ready(function() {
 	eventosProveedor();
 	$('#formregistrarproveedor').formValidation({
			        framework: 'bootstrap',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			        		nombreP:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
		                          regexp: {
				                        regexp: /^[a-z\s]+$/i,
				                        message: 'Solo se permiten letras de a-z, A-Z'
				                    }
								 }
						    },
						    rif:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
								 }
						    },
						    CI:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
							        digits: {
							              message: 'Por favor introduce sólo dígitos'
							        }
								 }
						    },
						    direccion:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
								 }
						    },
						    emaildos:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
				                     emailAddress: {
								            message:  'Por favor introduce un email válido'
								     }
								 }
						    },
			            	telefono: {
				                validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
		                          digits: {
							             message: 'Por favor introduce sólo dígitos'
							        }
			                }
			            }
			        }
			    })
		        .on('success.field.fv', function(e, data) {		
		        	 if (!data.fv.isValid()) {    // There is invalid field
		           			 data.fv.disableSubmitButtons(true);     
			              
			            }
		        });


		$('#formmodificarproveedor').formValidation({
			        framework: 'bootstrap',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			        		nombreP2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
		                          regexp: {
				                        regexp: /^[a-z\s]+$/i,
				                        message: 'Solo se permiten letras de a-z, A-Z'
				                    }
								 }
						    },
						    CI2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
							        digits: {
							              message: 'Por favor introduce sólo dígitos'
							        }
								 }
						    },
						    direccion2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
								 }
						    },
						    emaildos2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
				                     emailAddress: {
								            message:  'Por favor introduce un email válido'
								     }
								 }
						    },
			            	telefono2: {
				                validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
		                          digits: {
							             message: 'Por favor introduce sólo dígitos'
							        }
			                }
			            }
			        }
			    })
		        .on('success.field.fv', function(e, data) {		
		        	 if (!data.fv.isValid()) {    // There is invalid field
		           			 data.fv.disableSubmitButtons(true);     
			              
			            }
		        });

		         function eventosProveedor(){
      	RegistrarProveedor();
      	cargarlistadoProveedor();
      	
      }

   function eliminarProveedor(){
    	$('a.eliminarProveedor').on('click',  function(){
				var idProveedor=$(this).attr('name');
    			$('#confirmarEliminarProveedor').on('click',  function(){
				console.log("idProveedor: "+idProveedor);
    				$.ajax
				        ({
				          type: "POST",
				          url: "modelo/consultasconfiguraciondelsistema.php",
				          data: {id:9, idProveedor:idProveedor},
				          async: false,  
				          dataType: "json",  
				          success:
				          function (msg) 
					        { 
					        	if(msg=="true")
					        	{
					        		$('#modaleliminarProveedor').modal('hide');
					        		var x = document.getElementById(idProveedor);
					        		$(x).fadeOut();
					        	}
								   
					        },
				          error:
				          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
					        	
				        });

    			});

    	});
    }
      function editarProveedor(){
      	$('.editarProveedor').on('click',   function(event) {
      		var idProveedor=$(this).attr('name');
      		obtenerProveedor(idProveedor);
      		$('.actualizarProveedor').on('click',  function(){
    				var idProveedor=$(this).attr('name');
    				console.log("editar Proveedor: "+idProveedor);
    				$.ajax
				        ({
				          type: "POST",
				          url: "modelo/consultasconfiguraciondelsistema.php",
				          data: {id:10, nombre:tnombreP2.value, rif:trif2.value, telefono:ttelefono2.value, correo:tcorreo2.value, direccion:tdireccion2.value, idProveedor:idProveedor},
				          async: false,  
				          dataType: "json",  
				          success:
				          function (msg) 
					        { 
					        	console.log(msg);
					        	cargarlistadoProveedor();
					        	tnombreP.value=""; 
					        	trif.value="";
					        	ttelefono.value="";
					        	tcorreo.value="";
					        	tdireccion.value="";
					        	$('.form-group').removeClass('has-success');
								$('.form-group').removeClass('has-error');
								$('.form-group').removeClass('has-error has-feedback');
								$('.form-group').find('small.help-block').hide();
								$('.form-group').find('i.form-control-feedback').hide();
								editarProveedor();
								 eliminarProveedor();
								 $('#modaleditarProveedor').modal('hide');
					        	 
					        },
				          error:
				          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
				        });
    		});
      		$('#modaleditarProveedor').modal('show');
      	});

      }

      function obtenerProveedor(idProveedor){
      	$.ajax
        ({
          type: "POST",
          url: "modelo/consultasconfiguraciondelsistema.php",
          data: {id:8, idProveedor:idProveedor},
          async: false,  
          dataType: "json",  
          success:
          function (msg) 
	        { 
	        		tnombreP2.value=msg[0].nombre; 
		        	tCI2.value=msg[0].rif;
		        	ttelefono2.value=msg[0].telefono;
		        	tcorreo2.value=msg[0].correo;
		        	tdireccion2.value=msg[0].direccion;
					$("#footermodificarProveedor").html("");
					$("#footermodificarProveedor").append('<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><a class="actualizarProveedor btn btn-primary" type="submit" name="'+msg[0].idproveedor+'">Actualizar</a>');
				   
	        },
          error:
          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
	        	
        });
      }
       function cargarlistadoProveedor(){
    	$.ajax
	        ({
	          type: "POST",
	          url: "modelo/consultasconfiguraciondelsistema.php",
	          data: {id:7},
	          async: true,  
	          dataType: "json",  
	          success:
	          function (msg) 
		        { 
		        	console.log(msg[0].m);
					$('#listadoproveedor').html("");                        
					var table = $('<table style="width:100%;" class="table" ></table>');                         
					var row=$('<thead></thead>').append("<tr></tr>")
					$('#listadoproveedor').append(listarProveedor(msg, table, row));   
					editarProveedor();
      	 			eliminarProveedor();
		        },
	          error:
	          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
	        });
    }
	function listarProveedor(msg, table, row){
    		    row.append($('<th></th>').html(""));
                row.append($('<th></th>').html("<b>Nombre</b>"));                            
                row.append($('<th></th>').html("<b>Rif</b>"));
                row.append($('<th></th>').html("<b>Telefono</b>"));
                row.append($('<th></th>').html("<b>Correo</b>"));
                row.append($('<th></th>').html("<b>Opciones</b>"));

                
                table.append(row);  
                var row2 = $('<tbody></tbody>');
               /* resultadonumero.innerHTML="Mostrando <span class='badge'>"+msg[0].m+"</span> Resultados";
*/
                for(i=0; i<msg[0].m; i++){
                   
                        var row3=$('<tr id="'+msg[i].idproveedor+'"></tr>');
                        var fila0=$('<td></td>').text(i);
                        var fila1 = $('<td></td>').text(msg[i].nombre);
                        var fila2 = $('<td></td>').text(msg[i].rif);
                        var fila3 = $('<td></td>').text(msg[i].telefono);
                        var fila4 = $('<td></td>').text(msg[i].correo);
                        var fila5 = $('<td></td>').append('<a  class="editarProveedor btn "   title="Editar/Modificar" name="'+msg[i].idproveedor+'"> <span class="glyphicon glyphicon-pencil"></span></a>');
	   /* fila5.append('<a class="eliminarProveedor btn btn-danger btn-sm" data-toggle="modal" type="button"  data-target="#modaleliminarProveedor"  title="Eliminar" name="'+msg[i].idproveedor+'"> <span class="glyphicon glyphicon-remove"></span></a>');*/

                        row3.append(fila0);
                        row3.append(fila1);
                        row3.append(fila2);
                        row3.append(fila3);
                        row3.append(fila4); 
                        row3.append(fila5);
                        row2.append(row3);             
                }
                table.append(row2);
                return table;
    	}
     function RegistrarProveedor(){
     	$('#guardarproveedor').on('click',  function(){
    		$.ajax
	        ({
	          type: "POST",
	          url: "modelo/consultasconfiguraciondelsistema.php",
	          data: {id:6, nombre:tnombreP.value, rif:tCI.value, telefono:ttelefono.value, correo:tcorreo.value, direccion:tdireccion.value},
	          async: false,  
	          dataType: "json",  
	          success:
	          function (msg) 
		        { 
	        	if(msg=="true"){

		        	cargarlistadoProveedor();
		        	tnombreP.value=""; 
		        	trif.value="";
		        	tCI.value="";

		        	ttelefono.value="";
		        	tcorreo.value="";
		        	tdireccion.value="";
		        	$('.form-group').removeClass('has-success');
					$('.form-group').removeClass('has-error');
					$('.form-group').removeClass('has-error has-feedback');
					$('.form-group').find('small.help-block').hide();
					$('.form-group').find('i.form-control-feedback').hide();
					editarProveedor();

		        	 alertasproveedor.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡Se ha creado Correctamente!</center></div>';

		        	}
		        	 if(msg!="true"){
					alertasproveedor.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡No se pudo ingresar porque ya existe!</center></div>';

	             }
		        },
	          error:
	          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
	        });
    	});
     }
 });
 </script>