<br>
<div class="alert alert-info">
		<center>
				<h6><b>Respaldar y Restaurar Base de Datos</b></h6>			      		
		</center>
</div>


<div class="row">
        
<div id="alerta4"></div>
    <div class="col-md-6 col-xs-6 col-sm-6"> 
    	<div class="panel panel-default">
		  <div class="panel-heading">Backup</div>
		  <div class="panel-body">
		    
		  
		  <center>	  	

				<button type="button" class="btn btn-default btn-sm"  id="respaldar" title="Hacer Respaldo"><span class="glyphicon glyphicon-save-file" ></span>Realizar Backup</button>
				<button type="button" class="btn btn-default btn-sm"  id="actualizar" title="Hacer Respaldo"><span class="glyphicon glyphicon-refresh" ></span>Actualizar</button>

			<h6><b>Respaldos realizados</b></h6>			      		

				<div id="respaldos">
					
				</div>

		  </center>



		  </div>
		</div>
    </div>



    <div class="col-md-6 col-xs-6 col-sm-6"> 
    	<div class="panel panel-default">
		  <div class="panel-heading">Restore</div>
		  <div class="panel-body">

				<h6><b>Respaldos Disponibles</b></h6>	
        <button type="button" class="btn btn-default btn-sm"  id="actualizar2" title="Hacer Respaldo"><span class="glyphicon glyphicon-refresh" ></span>Actualizar</button>		      		
		  		<div id="wait4" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:0px; z-index=-1;"><img src='img/demo_wait.gif' width="64" height="64" /><br>Restaurando</div>
        
				<div id="respaldos2">
					
				</div>



		  </div>
		</div>
    </div>
</div>
 <script type="text/javascript">
  $(document).ready(function() {
  	buscarRespaldos();
  	buscarRespaldos2();
  	$('#actualizar').on('click',  function(){ 

  		buscarRespaldos();
  	});

    $('#actualizar2').on('click',  function(){ 

      buscarRespaldos2();
    });
  	$('#respaldar').on('click',  function(){ 
  		console.log("click en respaldar");
  		$.ajax
          ({
            type: "POST",
            url: "Prueba/TestBackup.php",
            /*data: {id:1},*/
            async: false,  
            dataType: "json",  
            success:
            function (msg) 
            { 
                 console.log(msg);
                 if(msg=="true"){                   
                    alerta4.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡Se ha hecho una backup de la base de datos!</center></div>';

                 }            
                   
            },
            error:
            function (msg) {console.log( msg +" No se pudo realizar la conexion");}
          });

	});
	
	function buscarRespaldos(){

  		$.ajax
          ({
            type: "POST",
            url: "modelo/consultasRespaldo.php",
            data: {id:1},
            /*async: false, */ 
            dataType: "json",  
            success:
            function (msg) 
            { 
                 console.log(msg.length);
                                
                     $('#respaldos').html("");                        
                      var table = $('<table style="width:100%;" class="table" ></table>');                         
                      var row=$('<thead></thead>').append("<tr></tr>")
                      $('#respaldos').append(listarE(msg, table, row));

                             
                   
            },
            error:
            function (msg) {console.log( msg +" No se pudo realizar la conexion");}
          });
	}

		function buscarRespaldos2(){

  		$.ajax
          ({
            type: "POST",
            url: "modelo/consultasRespaldo.php",
            data: {id:1},
            /*async: false, */ 
            dataType: "json",  
            success:
            function (msg) 
            { 
                 console.log(msg.length);
                                
                     $('#respaldos2').html("");                        
                      var table = $('<table style="width:100%;" class="table" ></table>');                         
                      var row=$('<thead></thead>').append("<tr></tr>")
                      $('#respaldos2').append(listarE2(msg, table, row));
                      respaldarbd();
                             
                   
            },
            error:
            function (msg) {console.log( msg +" No se pudo realizar la conexion");}
          });
	}

	function listarE(msg, table, row){
           
                row.append($('<th></th>').html("<b>5 Ultimos Backups</b>"));                            
                 
                table.append(row);  
                var row2 = $('<tbody></tbody>');
                for(i=0; i<msg.length; i++){
                   
                        var row3=$('<tr></tr>');
                        var fila0=$('<td></td>').html('<a  href="Prueba/backup/gestiondeinventario/'+msg[i]+'"     title="Descargar">'+msg[i]+'</a>');
                        

                       
                        row3.append(fila0);
                        
                        row2.append(row3);             
                }
                table.append(row2);
                return table;
      }
function respaldarbd(){	
	$('.respaldarbd').on('click',  function(){
		var bd=$(this).attr('name');
		console.log(bd);
         $("#wait4").css("display", "block");

		$.ajax
          ({
            type: "POST",
            url: "Prueba/testRestore.php?sql="+bd,
            data: {id:1},
            /*async: false, */ 
           /* dataType: "json", */ 
            success:
            function (msg) 
            {   
                 console.log(msg.length);
                 console.log(msg);
                 if(msg.length>50){        
                   $("#wait4").css("display", "none");

                    alerta4.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡Se ha respaldado con exito la base de datos!</center></div>';

                 } 
                             
                   
            },
            error:
            function (msg) {console.log( msg +" No se pudo realizar la conexion");}
          });

	});
}
      	function listarE2(msg, table, row){
           
                row.append($('<th></th>').html("<b>5 Respaldos Disponibles</b>"));                            
                 
                table.append(row);  
                var row2 = $('<tbody></tbody>');
                for(i=0; i<msg.length; i++){
                   
                        var row3=$('<tr></tr>');
                        var fila0=$('<td></td>').html('<a  href="#""  class="respaldarbd" name="'+msg[i]+'"     title="Respaldar">'+msg[i]+'</a>');
                        

                       
                        row3.append(fila0);
                        
                        row2.append(row3);             
                }
                table.append(row2);
                return table;
      }    
  });

  </script>


































